*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,9,121,1) 40%, rgba(0,212,255,1) 100%); */
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,194,194,1) 50%, rgba(252,176,69,1) 100%);
color: white;
font-family:sans-serif ;


}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form button{
    padding: 0.4rem;
    font-size: 2rem;
    border: none;
    background: white;

}

form button{
    color: rgb(233, 164, 116);
    background: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
form button:hover{
    background: rgb(233, 164, 116);
    color: white;

}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

}
.todo li{
    flex: 1;
}

.deleted-btn, .completed-btn{
    background: rgb(233, 164, 116);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1 rem;
}
.completed-btn{
    background: rgba(43, 249, 43, 0.811);
}
.todo-item{
    padding: 0rem 0.5rem ;

}
.material-symbols-rounded{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


